<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CALCULADORA IMC</title>
    <link rel="stylesheet" href="/css/imc.css">

</head>

<body class="body_imc">

<section class="container-geral-calculadora">
    <h2>CALCULE O IMC</h2>
    <form th:object = "${calculoimc}" action="calcularImc" method="post" class="formCalculo">
        <div class="container-peso" >
            <label for="weight" class="label_peso" th:field="*{peso}">Peso</label><br>
            <input  type="number" class="input_peso" id="weight" name="peso" placeholder="Digite o peso" required>
        </div>
        <div class="container-altura">
            <label for="height" class="label_altura" th:field="*{altura}">Altura</label><br>
            <input  type="number" class="input_altura" id="height" name="altura" placeholder="Digite a altura" required>
        </div>
        <button type="submit" class="button_imc -">Calcular</button>
    </form>
    <div class="container-resultado">
        <h3 class="text-seuPeso">Seu peso é</h3>
        <h4 class="saida_resultado"></h4>
    </div>
</section>
</body>
</html>